@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #111111;
}
.btn{
    outline: 0px !important;
    box-shadow: none !important;
}

/* sidebar style start */

#sidebar-container {
    min-height: 100vh;
    padding: 0;
    position: relative;
    /* flex: unset; */
}

.sidebar-expanded {
    width: 200px;
}

#sidebar-container .logo-left {
    height: 70px;
    margin-bottom: 35px;
    padding-top: 12px;
}

#sidebar-container .logo-left .fav-img {
    display: block;
}

#sidebar-container .logo-left.d-flex .fav-img {
    display: none;
}

#sidebar-container .list-group .list-group-item div {
    padding: 5px 0px;
}
#sidebar-container .list-group .list-group-item div .me-3 {
    margin-right: 8px !important;
}
#sidebar-container .list-group .list-group-item .active{
    background-color: #000000;
    border-radius: 30px;
    height: 54px;
}
#sidebar-container .list-group .list-group-item .active .fa{
    background-color: #000000;
    border: 0;
}
#sidebar-container.sidebar-collapsed .list-group .list-group-item .active{
    background: transparent;
}
#sidebar-container.sidebar-collapsed .list-group .list-group-item .active .fa{
    color: #FFFFFF;
    background-color: #000000;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#sidebar-container .list-group-item {
    border: 0px;
    background: transparent;
}
.list-group-item-action .menu-collapsed {
    font-size: 14px;
}
.list-group-item-action .d-flex.justify-content-center .fa-fw{
    margin: auto !important;
}

#sidebar-container .logo-heading {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: right;
}

.laptop-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.laptop-img{
    width: 48px;
    height: 32px;
    background-color: #000000;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-icon .laptop-img img{
    width: 16px;
    height: 16px;
}
.laptop-text1{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
#sidebar-container .logo-heading img{
    max-width: 100%;
}


.sidebar-collapsed {
    /*width: 60px;*/
    width: auto;
}

#sidebar-container .setting-div-style{
    position: absolute;
    width: 100%;
    bottom: 25px;
    background: #1B1D58;
}

/* ----------| Menu item*/
#sidebar-container .list-group a {
    height: auto;
    color: #FFFFFF;
    background-color: transparent;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* top bar section */
/* .top-section {    
    max-width: 1200px;
    margin: auto;
} */

.top-section .flex-div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2c2c2c;
}

.top-section .search-bar {
    width: 100%;
    height: 50px;
    min-width: 300px;
    border-radius: 2px;
    background-color: #111111;
    display: flex;
    border: 1px solid #2c2c2c;
    align-items: center;
    color: #bebebe;
    font-size: 16px;
    padding: 10px;
}

.top-section .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 18px;
    padding: 0px 20px;
    line-height: 25px;
    color: #ABB5BA;
    outline: 0;
}
.top-section .fa-search {
    color: #FFFFFF;
    flex: 1;
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.top-section .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    background-color: transparent;
    height: 50px;
}
.top-section .top-right-menu .btn {
    color: #fff;
    padding: 10px 0px;
    outline: 0px;
    box-shadow: none;
}
.top-section .top-right-menu .btn-users-dropdown {
    display: inline-flex;
    gap: 15px;
    align-items: center;
}
.top-section .top-right-menu .btn-users-dropdown .admin-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
#search-page .top-section .flex-div{
    border: 0px;
}
#search-page .top-section .search-bar{
    border-radius: 24px;
    background-color: #323232;
    color: #bababa;
    min-width: 540px;
}

#body-row #sidebar-container {
    position: fixed;
    background-color: #2c2c2c;
}
#body-row .col.p-0 {
    margin-left: 210px;
}
#body-row.small-menu .col.p-0 {
    margin-left: 90px;
}


/* page-content */
.page-content {
    padding: 35px 30px 10px;
    color: #ffffff;
    /* max-width: 1200px;
    margin: auto; */
}
.page-content .main-heading{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
}
.page-content .main-text{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 35px;
  
}
.page-content .btn-setting{
    width: 169px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    margin-bottom:40px;
}
.page-content .flex-cards{
    display: flex;
    gap: 40px;
}
.page-content .dash-card{
    background-color: #2c2c2c;
    border-radius: 2px;
    padding: 20px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 18px;
}
.page-content .dash-card .heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.page-content .dash-card .text{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 10px;
}
.page-content .dash-card .flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.page-content .dash-card .flex img{
    margin-left: -13px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.page-content .dash-card .flex img:first-child{
    margin-left: 0px;
}
.page-content .dash-right-cards .dash-card{
    height: 100%;
    text-align: center;
    max-width: 185px;
}
.page-content .dash-right-cards .dash-card .img{
    margin-bottom: 10px;
    min-height: 102px;
}
.page-content .dash-right-cards .dash-card .img img{
    max-width: 80px;
}

.page-content .second-protion .main-heading {
    font-size: 20px;
    line-height: 25px;
}
.page-content .second-protion .dash-card .tag{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 15px;
}
.page-content .second-protion .dash-card .blackDot{
    width: 12px;
    height: 12px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    background-color: #161616;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.page-content .second-protion .dash-card .blackDot::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #2c2c2c;
    border-radius: 50%;
}
.page-content .second-protion .btn-tasks{
    width: 120px;
    height: 36px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    margin: auto;
}
.page-content .second-protion .days-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.page-content .second-protion .days-flex .day{
    padding: 0px 6px;
    position: relative;
    text-align: center;
    width: calc(100% / 7);
}
.page-content .second-protion .days-flex .day::before{
    content: " ";
    position: absolute;
    height: 60%;
    right: 0px;
    top: 20%;
    width: 2px;
    background-color: #2c2c2c;
    border-radius: 2px;
}
.page-content .second-protion .days-flex .day:last-child:before{
    width: 0px;
}
.page-content .second-protion .days-flex .day .content{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding: 7px 0px;
    width: fit-content;
    margin: auto;
}
.page-content .second-protion .days-flex .day.active .content{
    background-color: #2c2c2c;
    border-radius: 2px;
}
.page-content .second-protion .schedules .schedule{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 32px;
}
.page-content .second-protion .schedules .schedule .left-flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
.page-content .second-protion .schedules .schedule .left-flex .count{
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    border-radius: 2px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.page-content .second-protion .schedules .schedule .left-flex .heading{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
}
.page-content .second-protion .schedules .schedule .left-flex .text{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 5px;
}
.page-content .second-protion .schedules .schedule .right-content{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.page-content .second-protion .schedules .btn-schedule{
    width: 100%;
    border-radius: 2px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #ffffff;
    margin-top: 10px;
}

/* search-page-content */
.search-page-content .search-item{
    border-bottom: 1px solid #323232;
    padding-bottom: 40px;
    margin-bottom: 30px;
    color: #ffffff;
}
.search-page-content .search-item:last-child{
    border-bottom: 0px;
}
.search-page-content .search-item .main-heading{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 30px;
}
.search-page-content .search-item .location-flex,
.search-page-content .search-item .team-flex,
.search-page-content .search-item .people-flex{
    display: flex;
    gap: 30px;
    align-items: center;
}
.search-page-content .search-item .people-flex .single-people{
    max-width: 120px;
    text-align: center;
}
.search-page-content .search-item .people-flex .single-people .img img{
    border-radius: 50%;
    max-width: 100%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.search-page-content .search-item .people-flex .single-people .people-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}
.search-page-content .search-item .team-flex .btn-team {
    padding: 9px 25px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.search-page-content .search-item .team-flex .btn-team.first-btn {
    padding: 9px 50px;
}
.search-page-content .search-item .location-flex .btn-location {
    background-color: #161616;
    border-radius: 24px;
    border: 1px solid #323232;
    padding: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.search-page-content .search-item .location-flex .btn-location .time{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 5px;
}

/* chart style */
#chart15{
    height: 320px !important;
}
.highcharts-label,
.highcharts-legend-item{
    display: none;
}
.highcharts-column-series rect.highcharts-point{
    fill: #161616;
    stroke: #2c2c2c;
}

#sidebar-container .vector-cross{
    display: none;
}


@media screen and (max-width: 676px) {

    #body-row .col.p-0 {
        margin-left: 0px;
    }

    #sidebar-container .vector-cross{
        display: block;
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0px;
        z-index: 100000;
    }
    #sidebar-container .vector-cross .btn{
        padding: 5px 10px;
    }
    #sidebar-container{
        position: fixed;
        background: #fff;
        bottom: 0px;
        top: 0px;
        z-index: -10;
        opacity: 0;
    }
    #sidebar-container.active{
        z-index: 100000;
        opacity: 1;
    }
    .top-section {
        padding: 0px 20px !important;
    }
    .top-right-menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .top-section .flex-div{
        flex-wrap: wrap;
        gap: 10px;
        height: auto !important;
        padding: 10px 0px;    
        justify-content: center;
        flex-direction: column-reverse;
    }
    .top-section .search-bar{
        min-width: auto;
    }
    .top-section .search-bar input {
        padding: 0px;
    }
    .top-section .btn-mobile-bar{
        display: inline-block !important;
        border-radius: 8px;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        padding: 8px 25px;
        color: #07529D;
        margin-right: 20px;
    }
    .top-section .btn-cart,
    .top-section .btn-login{
        min-width: auto;
        margin-right: 0px;
    }

    .page-content {
        padding: 20px;
    }

    .page-content .flex-cards{
        display: block;
    }
    .page-content .dash-card{
        margin-bottom: 10px;
    }
    .page-content .dash-right-cards .col-6{
        margin-bottom: 10px;
    }
    .page-content .dash-right-cards .dash-card{
        padding: 15px 10px;
    }
    .page-content .dash-right-cards .dash-card .heading{
        font-size: 12px;
        line-height: normal;
        margin-bottom: 0px;
    }
    .page-content .dash-card.mb-4{
        padding: 12px 10px;
    }
    .page-content .dash-card.mb-4 .heading{
        font-size: 12px;
        line-height: normal;
        margin-bottom: 0px;
    }
    .page-content .dash-card.mb-4 .text{
        font-size: 10px;
        line-height: normal;
        width: 62px;
        text-align: center;
    }
    .page-content .second-protion .days-flex .day .content{
        overflow: hidden;
        width: 100%;
    }
    .page-content .second-protion .days-flex .day::before{
        right: -1px;
    }
    .page-content .second-protion .schedules .schedule .left-flex .heading{
        font-size: 14px;
        line-height: normal;
        margin-bottom: 6px;
    }
    .page-content .second-protion .schedules .schedule .left-flex .text{
        font-size: 12px;
        line-height: normal;
        margin-bottom: 0px;
    }
    .page-content .second-protion .schedules .schedule .right-content{
        font-size: 10px;
        line-height: normal;
        width: 65px;
        text-align: end;
    }
    .p-mb-0{
        padding: 0px;
    }
    .page-content .dash-card.mb-4 .flex{
        gap: 10px;
    }
    .search-page-content .search-item .location-flex,
    .search-page-content .search-item .team-flex,
    .search-page-content .search-item .people-flex{
        flex-wrap: wrap;
        gap: 16px;
    }
    .search-page-content .search-item .people-flex .single-people{
        width:  100px;
    }
    .search-page-content .search-item .people-flex .single-people .btn{
        padding: 7px 0px;
    }
    .search-page-content .search-item .team-flex{
        justify-content: center;
    }
    .search-page-content .search-item .location-flex .btn-location{
        padding: 15px 10px;
        min-width: 145px;
    }
}

